@use 'base/variables' as v;
@use 'base/mixins' as m;

.acordeon {
  
    &__modulo {
      
      border: 2px solid v.$negro;
      border-bottom: none;
      background-color: v.$gris_oscuro;
      color: v.$blanco;
      border-radius: .5rem;
      margin-bottom: 1rem;
  
      summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        cursor: pointer;
        list-style: none;
        font-weight: v.$black;
        color: v.$blanco;

        i {
          transition: transform 0.3s ease;
          font-size: 2.5rem;
        }
    
        &::-webkit-details-marker {
          display: none;
        }
      }
    
      &[open] summary i {
        transform: rotate(180deg);
      }
    
      &.animating .acordeon__contenido {
        overflow: hidden;
      }
    }
  
    &__contenido {
      overflow: hidden;
      height: 0;
      transition: height 0.4s ease;
      color: v.$blanco;
    }
  
    &__vacio{
      text-align: center;
      font-size: 1.8rem;
      font-weight: v.$black;
      color: v.$rojo;
    }
    details {
        border: 1px solid v.$border_input;
        border-bottom: 0;
        background-color: v.$fondo_input;
        padding: 0.6rem;
        margin: 0;
        border-radius: 0;
  
        &:last-child{
          border-bottom: 1px solid v.$border_input;
        }
        summary {
            font-weight: v.$black;
            cursor: pointer;
        }
    }
  }
  