@use 'base/variables' as v;
@use 'base/mixins' as m;

.curso {
    background-color: v.$blanco;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.66);
    -webkit-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.66);
    flex: 0 0 auto;
    transition: transform 0.3s ease;
    margin: 0 auto;
    width: 90%;

    @include m.computadora{
        width: 100%;
    }

    
    &:hover {
        transform: translateY(-5px);
    }
    
    &__imagen-contenedor {
        position: relative;
        overflow: hidden;
        width: 100%;

    }

    &__filter{
        position: absolute;   
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        background-color: #1f1f1fb0;
        
    }
    
    &__imagen {
        height: auto;
        object-fit: contain;
        transition: transform 0.5s ease;
        width: 100%;
        
        &:hover {
            transform: scale(1.05);
        }
    }
    
    &__categoria {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: v.$blanco;
        color: v.$negro;
        padding: 0.3rem 0.8rem;
        border-radius: 1rem;
        font-size: 1.3rem;
        font-weight: v.$bold;
        text-transform: capitalize;
    }
    
    &__descuento-etiqueta {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: v.$rojo;
        color: v.$blanco;
        padding: 0.3rem 0.8rem;
        border-radius: 1rem;
        font-size: 1.3rem;
        font-weight: v.$bold;
    }
    
    &__contenido {
        padding: 1.5rem;
    }
    
    &__botones{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 0 1.5rem 1.5rem 1.5rem;

    }

    &__boton{
        padding: 1rem;
        color: v.$blanco;
        font-weight: v.$black;
        border-radius: .5rem;
        text-align: center;
        transition: all 0.4s ease;

        &--venta{
            background-color: v.$verde-whatsapp;

            &:hover{
                background-color: v.$verde;
            }
        }

        &--ver{
            background-color: v.$dorado;

            &:hover{
                background-color: v.$dorado_darken;
            }
        }
    }

    &__tipo{
        padding: .5rem;
        font-size: 1.6rem;
        border-top: solid v.$dorado .1rem;
        border-bottom: solid v.$dorado .1rem;
        text-align: center;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        
        span{
            font-weight: v.$black;
        }
        &--grabado{
            color: v.$dorado;

            i{
                font-size: 1.8rem;
                color: v.$rojo;
            }
        }

        &--live{
            color: v.$dorado;

            i{
                font-size: 1.8rem;
                color: #2D8CFF;
            }
        }
    }

    &__nombre {
        font-size: 1.9rem;
        font-weight: v.$bold;
        color: v.$negro;
        margin: 1rem 0 1.5rem 0;
        text-align: center;
        padding-bottom: .5rem;

        &:hover{
            color: v.$dorado;
            cursor: pointer;
        }
    }
    
    &__detail{
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 1.5rem;
        gap: 1rem;
        color: v.$negro;
        font-weight: v.$black;
        margin: .5rem;

        i{
            color: v.$dorado;
        }

        span{
            font-weight: v.$regular;

            &.curso__detail-timezone{
                color: v.$dorado;
                font-size: 1rem;
                vertical-align: text-top;
            }

            a{
                color: v.$dorado;
                text-transform: capitalize;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    
    &__precios {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }
    
    &__progress{
        display: flex;
        align-items: center;
        height: 2rem;
        gap: 1rem;
        margin: 0 0 1rem 0;
    }

    &__progress-label{
        font-size: 1.3rem;
        margin: 0;
        font-weight: v.$bold;
        width: 7rem;
        color: v.$dorado;
    }

    &__progress-no-progress{
        font-size: 1.3rem;
        margin: 0;
        font-weight: v.$bold;
        color: v.$azul;
    }

    &__progress-bar{
        width: calc(100% - 14rem);
        accent-color: v.$dorado;
        height: .7rem;
    }

    &__progress-percentage{
        font-size: 1.2rem;
        color: v.$dorado;
        font-weight: v.$bold;
        margin: 0;
        width: 7rem;
        text-align: left;
    }

    &__links{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__link{
        flex-grow: 1;
        padding: 1rem;
        font-size: 1.4rem;
        color: v.$dorado;
        font-weight: v.$bold;
        border: solid .1rem v.$dorado;
        border-radius: .4rem;
        text-align: center;
        margin: 0;
        transition: all .4s ease;
        
        &:hover{
            cursor: pointer;
            color: v.$blanco;
            background-color: v.$dorado;
        }

        &--active{
            background-color: v.$dorado;
            color: v.$blanco;
        }

        &--disabled{
            flex-grow: 1;
            padding: 1rem;
            font-size: 1.4rem;
            color: v.$gris;
            font-weight: v.$bold;
            border: solid .1rem v.$gris;
            border-radius: .4rem;
            text-align: center;
            margin: 0;

            &:hover{
                cursor:default;
            }
        }


    }

    &__precio {
        font-weight: v.$black;
        margin: 0;
        margin-top: 1rem;
        &--normal {
            color: v.$dorado;
            font-size: 2.2rem;
        }

        &--original {
            color: v.$gris;
            text-decoration: line-through;
            font-size: 0.9rem;
        }
        
        &--oferta {
            color: v.$dorado;
            font-size: 2.2rem;
        }
    }
    
    &__fecha-descuento {
        color: v.$rojo;
        font-size: 1rem;
        font-weight: v.$bold;
        margin: 0;
    }
}
