@use 'base/variables' as v;
@use 'base/mixins' as m;

.curso {
    background-color: v.$blanco;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.66);
    -webkit-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 10px 22px -5px rgba(0,0,0,0.66);
    min-width: 280px;
    flex: 0 0 auto;
    transition: transform 0.3s ease;
    
    @include m.telefono{
        min-width: 240px;
    }

    @include m.tablet{
        min-width: 350px;
    }

    &:hover {
        transform: translateY(-5px);
    }
    
    &__imagen-contenedor {
        position: relative;
        height: 200px;
        overflow: hidden;
    }

    &__filter{
        position: absolute;   
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: #1f1f1fb0;
        
    }
    
    &__imagen {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;
        
        &:hover {
            transform: scale(1.05);
        }
    }
    
    &__categoria {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background-color: v.$dorado;
        color: v.$blanco;
        padding: 0.3rem 0.8rem;
        border-radius: 1rem;
        font-size: 1.3rem;
        font-weight: v.$bold;
    }
    
    &__descuento-etiqueta {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: v.$rojo;
        color: v.$blanco;
        padding: 0.3rem 0.8rem;
        border-radius: 1rem;
        font-size: 1.3rem;
        font-weight: v.$bold;
    }
    
    &__contenido {
        padding: 1.5rem;
    }
    
    &__nombre {
        font-size: 1.9rem;
        font-weight: v.$bold;
        color: v.$negro;
        margin: 0 0 .5rem 0;

        &:hover{
            color: v.$dorado;
            cursor: pointer;
        }
    }
    
    &__maestro {
        color: v.$gris_label;
        font-size: 1.2rem;
        margin: 0 0 1rem 0;
    }
    
    &__precios {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }
    
    &__progress{
        display: flex;
        align-items: center;
        height: 2rem;
        gap: 1rem;
        margin: 0 0 1rem 0;
    }

    &__progress-label{
        font-size: 1.3rem;
        margin: 0;
        font-weight: v.$bold;
        width: 7rem;
        color: v.$dorado;
    }

    &__progress-no-progress{
        font-size: 1.3rem;
        margin: 0;
        font-weight: v.$bold;
        color: v.$azul;
    }

    &__progress-bar{
        width: calc(100% - 14rem);
        accent-color: v.$dorado;
        height: .7rem;
    }

    &__progress-percentage{
        font-size: 1.2rem;
        color: v.$dorado;
        font-weight: v.$bold;
        margin: 0;
        width: 7rem;
        text-align: left;
    }

    &__links{
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__link{
        flex-grow: 1;
        padding: 1rem;
        font-size: 1.4rem;
        color: v.$dorado;
        font-weight: v.$bold;
        border: solid .1rem v.$dorado;
        border-radius: .4rem;
        text-align: center;
        margin: 0;
        transition: all .4s ease;
        
        &:hover{
            cursor: pointer;
            color: v.$blanco;
            background-color: v.$dorado;
        }

        &--active{
            background-color: v.$dorado;
            color: v.$blanco;
        }

        &--disabled{
            flex-grow: 1;
            padding: 1rem;
            font-size: 1.4rem;
            color: v.$gris;
            font-weight: v.$bold;
            border: solid .1rem v.$gris;
            border-radius: .4rem;
            text-align: center;
            margin: 0;

            &:hover{
                cursor:default;
            }
        }


    }

    &__precio {
        font-weight: v.$bold;
        margin: 0;
        
        &--normal {
            color: v.$dorado;
            font-size: 1.5rem;
        }

        &--original {
            color: v.$gris;
            text-decoration: line-through;
            font-size: 0.9rem;
        }
        
        &--oferta {
            color: v.$dorado;
            font-size: 1.5rem;
        }
    }
    
    &__fecha-descuento {
        color: v.$rojo;
        font-size: 1rem;
        font-weight: v.$bold;
        margin: 0;
    }
}