.ql-font-lato { font-family: 'Lato', sans-serif; }
.ql-font-caveat { font-family: 'Caveat', cursive; }
.ql-font-anton { font-family: 'Anton', sans-serif; }
.ql-font-pacifico { font-family: 'Pacifico', cursive; }
.ql-font-playwrite-hu { font-family: 'Playwrite HU', cursive; }
.ql-font-indie-flower { font-family: 'Indie Flower', cursive; }
.ql-font-dancing-script { font-family: 'Dancing Script', cursive; }
.ql-font-arial { font-family: Arial, sans-serif; }
.ql-font-georgia { font-family: Georgia, serif; }
.ql-font-courier-new { font-family: 'Courier New', monospace; }
.ql-font-times-new-roman { font-family: 'Times New Roman', serif; }
.ql-font-verdana { font-family: Verdana, sans-serif; }
.ql-font-comic-sans-ms { font-family: 'Comic Sans MS', cursive; }
