@use 'base/variables' as v;
@use 'base/mixins' as m;

.popup {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  background: rgba(v.$negro, 0.8);
  color: v.$blanco;
  font-weight: v.$regular;
  padding: 1rem;
  border-radius: .5rem;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 22rem;

  @include m.tablet{
    width: 45rem;
  }

  &.visible{
    opacity: 1;
  }

  &.hidden{
    pointer-events: none;
  }
  
}


.whatsapp{
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 10;
  
  &__tooltip{
    margin: 0;
    background-color: v.$verde-whatsapp;
    padding: .5rem 1rem;
    border-radius: 1.2rem;
    color: v.$blanco;
    font-size: 1.2rem;
    opacity: 0;
    transition: all .5s ease;

    &.active{
      opacity: 1;
    }
  }

  &__icon{
    display: flex;
    background-color: v.$verde-whatsapp;
    color: v.$blanco;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
    border-radius: 50%;
    padding: .5rem;
  }


  &:hover{
    cursor: pointer;
  }
}