@use 'base/variables' as v;
@use 'base/mixins' as m;

.swiper {
  width: 100%;
  margin: auto;
  padding: 1.5rem 0 5rem 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: v.$dorado;
  font-weight: v.$black;
}

.swiper-pagination-bullet {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: v.$dorado;
  opacity: 1;
  font-size: 1rem;
}