@use 'variables' as v;
@use 'mixins' as m;

/* Works on Firefox */
*{
    scrollbar-width: thin;
    scrollbar-color: v.$dorado v.$negro;
    -webkit-transition: background 1.5s;
    -moz-transition: background 1.5s;
    -ms-transition: background 1.5s;
    -o-transition: background 1.5s;
    transition: background 1.5s;

}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: v.$negro;
}

*::-webkit-scrollbar-thumb {
    background-color: v.$dorado;
    border-radius: 20px;
    border: 3px solid v.$dorado;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    &.no-scroll{
        overflow-y: hidden;
    }
}
body {
    display: flex;
    flex-direction: column;
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
    overflow-x: hidden;

    &.no-scroll{
        overflow-y: hidden;
    }
}
*, *:before, *:after {
    box-sizing: inherit;
}   

.container {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    
    @include m.telefono {
      width: 90%;
    }
}

.container-left {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto 0 10rem;
    
    @include m.telefono {
      width: 90%;
    }
}


a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.swal2-popup {
    font-size: 1.6rem !important;
    width: 32em !important;
}
.swal2-timer-progress-bar{
    background-color: v.$dorado;
}

body.swal2-shown > [aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(5px);
}


.principal{
    margin-top: 9rem;
}

.width-50{
    width: 95%;
    margin: 0 auto;

    @include m.tablet{
        width: 50%;
    }
}

.width-70{
    width: 95%;
    margin: 0 auto;

    @include m.tablet{
        width: 70%;
    }
}

.width-80{
    width: 95%;
    margin: 0 auto;

    @include m.tablet{
        width: 80%;
    }
}

.mb-2{
    margin-bottom: 2rem;
}
