//fuentes
$fuente_principal: "Lato", sans-serif;

//tamaño de fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

//separacion
$separacion: 5rem;

//colores
$blanco: #ffffff;
$negro: #000000;
$fondo_claro: #f5f5f5;
$dorado:  #cda02d;
$dorado_darken:  #a07d26;
$cafe: #473618;

//tamaño de pantallas
$telefono: 480px;
$tablet: 768px;
$computadora: 1024px;