@font-face {
    font-family: 'GothamRounded';
    src: url('/assets/fonts/GothamRounded-Medium/GothamRounded-Medium.woff2') format('woff2'),
         url('/assets/fonts/GothamRounded-Medium/GothamRounded-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GothamRoundedRegular';
    src: url('/assets/fonts/GothamRounded-Regular/GothamRounded-Book.woff2') format('woff2'),
         url('/assets/fonts/GothamRounded-Regular/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'FuturaBT';
    src: url('/assets/fonts/FuturaBT-BookItalic/FuturaBT-BookItalic.woff2') format('woff2'),
         url('/assets/fonts/FuturaBT-BookItalic/FuturaBT-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


//fuentes
$fuente_menu: "Lato", sans-serif;
$fuente_principal: "GothamRoundedRegular", sans-serif;
$fuente_secundaria: "FuturaBT", sans-serif;

//tamaño de fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

//separacion
$separacion: 5rem;

//colores
$blanco: #ffffff;
$negro: #000000;
$azul: #3588d6;
$azul_darken: #419df3;
$fondo_claro: #f7f9fa;
$fondo_oscuro: #252525;
$border_input:#DDE0E9;
$fondo_input: #f6fdff;
$gris: #999999;
$gris_label: #828383;
$gris_oscuro:#282c2f;
$dorado:  #CDA02D;
$dorado_darken:  #a07d26;
$cafe: #473618;

$rojo: #a90000;
$rojoAlerta :#b42323;
$amarillo-lesly: #ffae00;
$verde: #007800;
$verde-whatsapp: #25D366;
$azul: #3098d4;

$fondo_oscuro_claro:#fffdf3;

//tamaño de pantallas
$telefono: 480px;
$tablet: 768px;
$computadora: 1024px;