@use 'base/variables' as v;
@use 'base/mixins' as m;


.info-curso{
  position: relative;
  width: 100%;
  min-height: 60vh;
  overflow: hidden;
  height: auto;

  &__background{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
    transform:  translate(-50%, -50%);
    object-fit: cover;
  }
  
  &__cover{
    position: relative;
    z-index: 1;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
    min-height: 60vh;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 2rem;

    @include m.computadora{
      padding: 5rem 10rem;
    }
  }

  &__return{
    color: v.$blanco;
    font-size: 2rem;
    font-weight: v.$black;
    transition: all 0.4s ease;

    @include m.tablet{
      font-size: 3rem;
    }
    
    &:hover{
      transform: translateX(5px);
      color: v.$dorado;
    }
  }

  &__name{
    text-align: left;
    font-size: 4.5rem;
    font-weight: v.$black;
    margin: 0 0 2rem 0;
    background: linear-gradient(90deg, v.$dorado_darken, v.$dorado, v.$blanco);
    -webkit-background-clip: text;
    color: transparent; 
    word-break: break-word; 
    text-transform: capitalize;
    
    @include m.tablet{
      font-size: 7.5rem;
    }
  }

  &__lema{
    margin: 0;
    color: v.$blanco;
    font-size: 2rem;

    @include m.tablet{
      font-size: 2.5rem;
    }
  }

  &__details{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 2rem;
    flex-direction: column;
    margin: 2rem 0;

    @include m.tablet{
      flex-direction: row;
      align-items: center;
      justify-content: start;
    }

  }

  &__detail{
    color: v.$blanco;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;

    i{
      color: v.$dorado;
      font-weight: v.$black;
    }

    span{
      font-weight: v.$black;
      
      a{
        color: v.$blanco;
        text-transform: capitalize;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  
  &__type{
    background-color: v.$dorado;
    color: v.$blanco;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 3rem 0 1rem 0;

    @include m.tablet{
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }

    span{
      font-weight: v.$black;
    }
  }

  &__description{
    width: 100%;
    color: v.$blanco;
    font-size: 1.7rem;
    text-align: left;

    @include m.tablet{
      width: 80%;
      font-size: 2rem;
    }
  }

  &__price-container{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
  }

  &__price{
    font-size: 3rem;
    font-weight: v.$black;

    &--normal{
      color: v.$blanco;
    }

    &--original{
      color: v.$blanco;
      text-decoration: line-through;
      text-decoration-color: v.$rojo;
      font-size: 1.5rem;
      vertical-align: text-top;
    }

    &--oferta{
      color: #ff0000;
    }
  }

  &__button{
    background-color: v.$dorado;
    padding: 1rem 2rem;
    color: v.$blanco;
    font-weight: v.$black;
    border-radius: .5rem;
    transition: all 0.5s ease;

    &:hover{
      background-color: v.$negro;
      transform: translateY(-5px);
    }

  }
} 

.detalles-curso{
  background-color: v.$fondo_claro;
  min-height: 60rem;
  
  &__top{
    background-color: v.$negro;
    min-height: 6rem;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__tabs{
    width: 80%;
    max-width: 150rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;

    @include m.tablet{
      gap: 3rem;
      justify-content: start;
    }
  }

  &__tab{
    background-color: transparent;
    color: v.$blanco;
    font-size: 1.5rem;
    font-weight: v.$black;
    border: none;
    transition: transform .2s ease;

    @include m.tablet{
      font-size: 2rem;
    }

    &:hover{
      transform: translateY(-2px);
      border-bottom: solid .2rem v.$dorado;
    }

    &--active{
      border-bottom: solid .2rem v.$dorado;
    }
  }

  &__content{
    padding: 3rem;
    display: none;

    &--active{
      display: block;
    }
  }

}

.detalle-profesor{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;

  @include m.tablet{
    flex-direction: row;
    align-items: start;
  }

  

  &__foto{
    width: 100%;
    height: auto;
    border-radius: .5rem;
    box-shadow: 11px 8px 24px -1px rgba(0,0,0,0.33);
    -webkit-box-shadow: 11px 8px 24px -1px rgba(0,0,0,0.33);
    -moz-box-shadow: 11px 8px 24px -1px rgba(0,0,0,0.33);
    text-align: center;

    @include m.tablet{
      width: 40rem;
      height: 40rem;
    }
  }

  &__name{
    margin: 0;
    font-weight: v.$black;
    color: v.$dorado;
    font-size: 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;

    @include m.tablet{
      justify-content: start;
      font-size: 2.5rem;
    }
  }

  &__experience{
    margin-top: 1rem;
    color: v.$negro;
    font-size: 2rem;
    text-align: center;
    
    span{
      color: v.$dorado;
      font-weight: v.$black;
    }

    @include m.tablet{
      text-align: left;
    }
  }

  &__speciality{
    padding: .5rem 1rem;
    background-color: v.$dorado;
    color: v.$blanco;
    text-align: center;
    border-radius: .5rem;
    font-size: 1.5rem;
  }

  &__bio{
    text-align: justify;
    line-height: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    word-break: break-all;

    @include m.tablet{
      text-align: left;
    }
  }

  &__btn{
    padding: 1rem;
    background-color: v.$dorado;
    color: v.$blanco;
    font-weight: v.$black;
    text-decoration: none;
    text-align: center;
    border-radius: .5rem;
    transition: background-color .4s ease;
    display:block;

    &:hover{
      background-color: v.$negro;
    }

    @include m.tablet{
      display: inline-block;
    }
  }
}