@use 'base/variables' as v;
@use 'base/mixins' as m;

.admin-header{
    background-color: v.$negro;
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @include m.tablet{
        flex-direction: row;
    }

    &__left{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        @include m.tablet{
            justify-content: center;
            width: auto;
        }
    }

    &__title{
        text-align: left;
        margin: 0;
        color: v.$dorado;
        font-size: 1.5rem;
        font-weight: v.$black;
    }

    &__admin{
        color: v.$blanco;

        &:hover{
            text-decoration: underline;
        }
    }

    &__right{
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include m.tablet{
            justify-content: center;
            width: auto;
        }
    }

    &__name{
        margin: 0;
        color: v.$dorado;
        font-size: 1.5rem;
        font-weight: v.$bold;
    }

    &__logout{
        color: v.$blanco;
        font-size: 2.5rem;
        font-weight: v.$black;
    }
}

.header{
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        width: 7rem;
    }

    &__nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: v.$negro;
        padding: 4rem;
        transition: opacity 0.4s ease;
        opacity: 0;
        visibility: hidden;

        &.nav-visble{
            opacity: 1;
            visibility: visible;
            z-index: 10;
        }

        @include m.tablet{
            position: relative;
            background-color: transparent;
            box-shadow: none;
            opacity: 1;
            visibility:visible;
            padding: 0;
        }
    }

    &__nav-list{
        list-style: none;
        padding: 0;
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
        gap: 3rem;

        @include m.tablet{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0;
        }


        li{
            text-align: center;
        }
    }

    &__link{
        color: v.$dorado;
        font-weight: v.$regular;
        font-size: 1.6rem;
        text-align: center;

        &:hover{
            color: v.$blanco;

            @include m.tablet{
                color: v.$negro;
            }
        }

    }

    &__login{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    
    &__button-login{
        color: v.$blanco;
        padding: 1rem;
        background-color: v.$dorado;
        border-radius: .5rem;
        text-align: center;

        &--menu{
            display: block;

            @include m.tablet{
                display: none;
            }
        }

        &--login{
            display: none;

            @include m.tablet{
                display: block;
            }
        }
    }


    &__hamburger{
        color: v.$dorado;
        font-weight: v.$black;
        font-size: 3rem;
        display: block;

        @include m.tablet{
            display: none;
        }
    }

    &__close{
        color: v.$dorado;
        font-weight: v.$black;
        font-size: 3rem;
        display: block;

        @include m.tablet{
            display: none;
        }
    }
}

.slider{

    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;

    &-container{
        background-color: v.$fondo_oscuro;
    }
    
    &.active{
        opacity: 1;
        visibility: visible;
        display: block;
    }

    @include m.tablet{
        height: 62vh;
    }

    &__video{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    &__background{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }

    &__cover{
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(v.$negro, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        gap: 0;

        @include m.tablet{
            justify-content: start;
            padding: 2rem 10rem;
        }
    }

    &__text-container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        width: 98%;
        max-width: 70rem;
        background-color: rgba(v.$negro, 0.5);
        padding: 1rem;

        @include m.tablet{
            align-items: start;
        }
    }

    &__text-title{
        text-transform: uppercase;
        text-align: center;
        font-size: 3rem;
        margin: 0;

        @include m.tablet{
            text-align: left;
            font-size: 4rem;
        }
    }

    &__text-description{
        text-align: center;
        font-size: 1.8rem;
        margin: 0;

        @include m.tablet{
            text-align: left;
            font-size: 1.8rem;
            font-weight: v.$bold;
        }
    }

}

.gif{
    margin: 0 auto;
    width: 97%;

    &__image{
        width: 100%;
        
    }
}