@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    padding: 1rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo{
        width: 7rem;
    }

    &__nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: v.$negro;
        padding: 4rem;
        transition: opacity 0.4s ease;
        opacity: 0;
        visibility: hidden;

        &.nav-visble{
            opacity: 1;
            visibility: visible;
            z-index: 10;
        }

        @include m.tablet{
            position: relative;
            background-color: transparent;
            box-shadow: none;
            opacity: 1;
            visibility:visible;
            padding: 0;
        }
    }

    &__nav-list{
        list-style: none;
        padding: 0;
        display: flex;
        align-items: end;
        justify-content: start;
        flex-direction: column;
        gap: 3rem;

        @include m.tablet{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0;
        }


        li{
            text-align: center;
        }
    }

    &__link{
        color: v.$dorado;
        font-weight: v.$regular;
        font-size: 1.6rem;
        text-align: center;

        &:hover{
            color: v.$blanco;

            @include m.tablet{
                color: v.$negro;
            }
        }

    }

    &__login{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    
    &__button-login{
        color: v.$blanco;
        padding: 1rem;
        background-color: v.$dorado;
        border-radius: .5rem;
        text-align: center;

        &--menu{
            display: block;

            @include m.tablet{
                display: none;
            }
        }

        &--login{
            display: none;

            @include m.tablet{
                display: block;
            }
        }
    }


    &__hamburger{
        color: v.$dorado;
        font-weight: v.$black;
        font-size: 3rem;
        display: block;

        @include m.tablet{
            display: none;
        }
    }

    &__close{
        color: v.$dorado;
        font-weight: v.$black;
        font-size: 3rem;
        display: block;

        @include m.tablet{
            display: none;
        }
    }
}

.gif{
    &__image{
        width: 100%;
    }
}