@use 'base/variables' as v;
@use 'base/mixins' as m;

.login{
    min-height: 75vh;
    background-color: v.$fondo_claro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-cont{
        width: 90%;
        padding: 7rem 2rem;
        margin-bottom: 4rem;

        .enlace-forgot{
            padding-top: 1rem;
            color: v.$azul;

            &:hover{
                color: v.$azul_darken;
            }
        }
        @include m.tablet{
            width: 70%;
        }

        @include m.computadora{
            width: 25%;
        }
    }

    &-signin{
        margin-top: 1.5rem;
        color: v.$negro;
        font-size: 1.6rem;
        text-align: center;

        span{
            color: v.$azul;
            margin-left: 1rem;
            text-transform: lowercase;
        }
    }
}