@use 'base/variables' as v;
@use 'base/mixins' as m;

.membresias {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    gap: 2rem;
    padding: 2rem;
    background-color: v.$fondo_claro;
}

.membresia-card {
    background-color: v.$negro;
    border: 1px solid v.$border_input;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    font-family: v.$fuente_principal;
    width: 90%;

    @include m.tablet{
        width: 70%;
    }

    @include m.computadora{
        width: 40%;
    }

    &__logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2rem 0;
    }

    &__logo{
        width: 70%;

        @include m.tablet{
            width: 60%;
        }

        @include m.computadora{
            width: 40%;
        }
    }

    &__info{
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }

    &__titulo {
        font-weight: v.$black;
        color: v.$dorado;
        font-size: 2.8rem;
        margin: 0;

        @include m.tablet{
            font-size: 3rem;
        }

        @include m.computadora{
            font-size: 3.5rem;
        }
    }

    &__precio {
        font-weight: v.$black;
        font-size: 2rem;
        color: v.$blanco;
        margin: 0;
        text-align: center;
    }

    &__duracion {
        font-weight: v.$regular;
        color: v.$dorado;
        font-size: 1.1rem;
        margin-bottom: 1rem;
    }

    &__descripcion {
        font-weight: v.$regular;
        color: v.$blanco;
        font-size: 1.8rem;
        line-height: 1.5;
        text-align: center;
    }

    &__btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__btn{
        padding: 1.5rem;
        background-color: v.$dorado;
        color: v.$blanco;
        font-weight: v.$black;
        border-radius: .5rem;

        &:hover{
            background-color: rgba(v.$dorado,0.6);
        }
    }
}
