@use 'base/variables' as v;
@use 'base/mixins' as m;

.about-dark-bg{
    background-color: v.$fondo_oscuro;

    .about-main__text{
        color: v.$blanco;
    }

    .about-main__picture{
        box-shadow: none;
    }
}

.about-main {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 92%;
    margin: 0 auto;

    @include m.tablet{
        width: 90%;
        padding: 7rem 0;
    }
    
    @include m.computadora{
        flex-direction: row;
        width: 80%;
        padding: 10rem 0;
    }

    &__pin{
        border: solid .1rem v.$dorado;
        width: 16rem;
        text-align: center;
        padding: .8rem;
        border-radius: 2rem;
        color: v.$dorado;
        font-weight: v.$bold;
        font-size: 1.4rem;
    }

    &__title{
        text-align: left;
        color: v.$dorado;
        font-weight: v.$black;
        font-size: 2.6rem;
        margin: 0;
        margin-bottom: 1rem;

        @include m.tablet{
            font-size: 2.7rem;
        }

        @include m.computadora{
            font-size: 4.9rem;
        }
    }

    &__text-min{
        color: v.$dorado;
        font-weight: v.$bold;
        font-size: 1.8rem;
        margin: 0;
        margin-bottom: 1.2rem;
    }

    &__text{
        font-size: 1rem;
        margin: 0;
        margin-bottom: 1.2rem;

        @include m.tablet{
            font-size: 1.4rem;
        }

        @include m.computadora{
            font-size: 2.1rem;
            line-height: 3rem;
        }
    }

    &__courses-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__courses-btn{
        background-color: v.$dorado;
        padding: 1rem;
        color: v.$blanco;
        width: 100%;
        text-align: center;
        font-weight: v.$black;
        border-radius: .8rem;
        transition: all .5s ease;
        

        @include m.tablet{
            width: 30rem;
        }

        &:hover{
            background-color: v.$negro;
            cursor: pointer;
            transform: translateY(-5px);
        }
    }

    &__founders{
        display: none;
        gap:1rem;

        @include m.computadora{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__founder{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        border: .2rem solid v.$dorado;
    }

    &__left{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;

        @include m.computadora{
            width: 50%;
        }
    }

    &__right{
        width: 100%;

        @include m.computadora{
            width: 50%;
        }
    }

    &__picture{
        border-radius: 1rem;
        box-shadow: 14px 16px 43px -7px rgba(177,177,177,0.75);
        -webkit-box-shadow: 14px 16px 43px -7px rgba(177,177,177,0.75);
        -moz-box-shadow: 14px 16px 43px -7px rgba(177,177,177,0.75);    
    }
}

.about-history{
    
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 92%;
    margin: 0 auto;

    @include m.tablet{
        width: 90%;
        padding: 7rem 0;
    }
    
    @include m.computadora{
        flex-direction: row;
        width: 80%;
        padding: 10rem 0;
    }

    &__left{
        width: 100%;

        @include m.computadora{
            width: 45%;
        }
    }

    &__right{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1.5rem;

        @include m.computadora{
            width: 55%;
        }
    }

    &__right-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 5rem;

        @include m.computadora{
            width: 55%;
        }
    }
}