@use 'base/variables' as v;
@use 'base/mixins' as m;

.quiz-attempts{
    padding: 1rem;

    @include m.computadora{
        padding: 3rem;
    }
    
    &__container{
        display: grid;
        grid-template-columns: 1fr;

        @include m.computadora{
            grid-template-columns: 1fr 2fr;
        }
    }

    &__return{
        color: v.$dorado;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 2.2rem;
        padding: 1rem;
        border-radius: .5rem;
        transition: all .5s ease;
        font-weight: v.$black;
        width: 15rem;
        &:hover{
            transform: translateX(.8rem);
            cursor: pointer;
        }
    }
}

.quiz-info{
    padding: 1rem;

    &__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: v.$negro;
        height: auto;
        padding: 2rem;
        border-radius: .5rem;
    }

    &__name{
        margin: 0;
        color: v.$blanco;
        font-size: 2rem;
        text-align: left;
        font-weight: v.$black;
        width: 100%;
        border-bottom: .1rem solid v.$gris;
        padding-bottom: 1rem;
    }
    
    &__container-info{
        margin: 0;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        gap: 1rem;
        padding: .5rem 0;
        border-bottom: solid .1rem v.$gris;

        &:last-of-type{
            border-bottom: none;
        }

        @include m.tablet{
            flex-direction: row;
            align-items: center;
        }
    }

    &__label-info{
        margin: 0;
        color: v.$blanco;
        font-size: 1.8rem;

        &-black{
            margin: 0;
            color: v.$negro;
            font-size: 1.8rem;
        }
    }
    
    &__label-data{
        margin: 0;
        color: v.$dorado;
        font-weight: v.$black;
        font-size: 1.5rem;
        text-transform: capitalize;

        &--aprobado{
            color: v.$verde-whatsapp;
        }

        &--no-aprobado{
            color: v.$rojo;
        }
    }

    &__attempt-btn{
        padding: 1rem;
        width: 100%;
        margin-top: 2rem;
        border: none;
        outline: none;
        background-color: v.$dorado;
        font-weight: v.$black;
        color: v.$blanco;
        font-size: 2rem;
        border-radius: .5rem;

        &:hover{
            background-color: rgba(v.$dorado, 0.7);
            cursor: pointer;
        }

        &--cancel{
            background-color: v.$rojo;
        }
    }
}

.attempts{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.attempt{
    border: solid .1rem v.$gris;
    padding: 2rem;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__empty{
        color: v.$blanco;
        text-align: center;
        font-weight: v.$black;
        margin: 0;
    }

    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__status{
        text-align: center;
        padding: 1rem;
        border-radius: .5rem;
        color: v.$blanco;
        font-weight: v.$black;

        &--pendiente{
            background-color: v.$amarillo_lesly;
        }

        &--revisado{
            background-color: v.$verde-whatsapp;
        }
    }

    &__actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__action{
        padding: 1rem;
        color: v.$blanco;
        border: none;
        border-radius: .5rem;
        transition: background-color 0.5s ease;

        &--answer{
            background-color: v.$negro;

            &:hover{
                background-color: rgba(v.$negro, 0.6);
            }
        }

        &--certificado{
            background-color: v.$dorado;

            &:hover{
                background-color: rgba(v.$dorado, 0.6);
            }
        }
    }

    &__title{
        margin: 0;
        text-align: left;
        font-size: 2rem;
        color: v.$dorado;
    }

    &__info{
        margin: 0;
        font-size: 1.8rem;
        font-weight: v.$black;
    }
}

.messages{
    min-width: 100%;
    padding: 1rem;
    height: 100%;
    // grid-column: 1 / 2;
    // grid-row: 1 / 2;

    // @include m.computadora{
    //     grid-column: 2 / 3;
    //     grid-row: 1 / 2;
    // }
    
}

.video-container{
    width: 100%;
    margin: 0 auto;
    display: none;

    &.active{
        display: block;
    }

    &__title{
        font-size: 3rem;
        color: v.$dorado;
        text-align: left;
        margin-bottom: 1rem;
    }
}

.results-container{
    width: 100%;
    margin: 0 auto;
    display: none;
    
    &.active{
        display: block;
    }

    &__close{
        display: flex;
        align-items: center;
        justify-content: end;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    &__close-btn{
        background-color: transparent;
        color: v.$dorado;
        font-size: 2rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: all .4s ease;

        &:hover{
            color: v.$rojo;
        }

        i{
            margin-top: .4rem;
            font-size: 3.5rem;
        }
    }
}

.answers {
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    &__title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
        color: #333;
    }
}

.answer {
    margin-bottom: 1.5rem;
    padding: 1rem 3rem;
    border: 1px solid #e2e2e2;
    border-radius: 0.75rem;
    background-color: v.$negro;

    &__question-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__question {
        font-weight: 600;
        margin: 0;
        margin-bottom: 0.5rem;
        color: v.$dorado;
    }

    &__user-answer {
        color: v.$blanco;
        margin: 0;
        font-size: 1.6rem;

        span {
            font-weight: bold;
        }
    }

    &__status {
        font-weight: bold;
        margin: 0;
        &--correct {
            color: v.$verde-whatsapp;
        }

        &--incorrect {
            color: v.$rojo;
        }
    }
}
