@use 'base/variables' as v;
@use 'base/mixins' as m;


.reglamento{
    padding: 3rem 0;
    width: 90%;
    margin: 0 auto;
    background-color: v.$blanco;

    @include m.tablet{
        width: 80%;
        padding: 3rem;
    }

    &__titulo{
        color: v.$dorado;
        font-weight: v.$black;
        font-size: 4rem;
    }

    &__parrafo{
        font-size: 1.8rem;
        text-align: justify;
        line-height: 2.8rem;

        &--mayusculas{
            text-transform: uppercase;
        }

        &--black{
            font-weight: v.$black;
        }
    }

    &__subtitulo{
        text-align: left;
        color: v.$dorado;
        margin-top: 5rem;
        margin-bottom: 0;
        
    }
}
