@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background: v.$negro;

    color: v.$blanco;
    padding: 5rem 3rem;
    display: block;

    @include m.tablet{
        @include m.grid(2, 2rem);
    }

    @include m.computadora{
        @include m.grid(3, 2rem);
    }


    .KTA{
        padding: 1rem;
        &-logo{
            width: 40%;
            max-width: 10rem;
        }

        &-texto{
            color: v.$blanco;
            font-size: 1.6rem;
            width: 90%;
            text-align: justify;
        }

        &-social{
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: start;
            gap: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            
            @include m.tablet{
                gap: 3rem;
            }

            &__item a{
                color: v.$blanco;
                padding: 1.6rem 1rem 1rem 1rem;
                background-color: v.$dorado;
                border-radius: 1rem;

                &:hover{
                    background-color: v.$dorado_darken;
                }
                i{
                    font-size: 2rem;
                }
            }
        }
    }

    .menu{
        padding: 1rem;

        &__title{
            color: v.$blanco;
            text-align: left;
            font-size: 2rem;
            
            &::after{
                content: '';
                display: block;
                margin-top: 1rem;
                background-color: v.$dorado;
                width: 5rem;
                height: .3rem;
            }
        }

        .nav{
            list-style: none;
            padding: 0;
            
            &__link {
                margin-bottom: .5rem;

                &:last-of-type{
                    margin-bottom: 0;
                    border-bottom: none;
                }

                

                a{
                    color: v.$blanco;
                    font-size: 1.6rem;

                    &:hover{
                        color: v.$dorado;
                    }
                }
            }
                
        }
    }

    .contact{
        padding: 1rem;

        &__title{
            color: v.$blanco;
            text-align: left;
            font-size: 2rem;
            
            &::after{
                content: '';
                display: block;
                margin-top: 1rem;
                background-color: v.$dorado;
                width: 5rem;
                height: .3rem;
            }
        }

        .information{
            display: flex;
            justify-content: start;
            align-items: start;
            gap: 1rem;
            margin-bottom: 2rem;

            @include m.tablet{
                gap: 3rem;
            }

            &__icon{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                background-color: v.$dorado;
                border-radius: 1rem;
                i{
                    font-size: 2.8rem;
                }
            }

            &__data{
                &-name{
                    color: v.$blanco;
                    font-size: 1rem;
                }

                &-label{
                    color: v.$blanco;
                    margin-top: .5rem;
                    margin-bottom: 0;
                    font-size: 1.5rem;
                    font-weight: v.$bold;

                    @include m.tablet{
                        font-size: 1.6rem;
                    }
                }
            }
        }

    }
}