@use 'base/variables' as v;
@use 'base/mixins' as m;

.header-top{
    background-color: v.$negro;
    padding: 2rem 30rem;
    margin: 0;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-top__msg{
        color: v.$blanco;
        margin: 0;
        font-size: 1.6rem;
    }

    .header-top__login-btn{
        border-radius: .5rem;
        @include m.boton(v.$dorado, v.$dorado_darken, v.$blanco, v.$blanco, inline-block);
    }

}