@use 'base/variables' as v;
@use 'base/mixins' as m;

/* Estilos del Header */
.header {
    position: fixed;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 9rem;
    z-index: 10000;
    transition: all 1s ease;

    &.transparente{
        background-color: none;
    }

    &.traslucido{
        background: #696969;
        background: v.$negro;
    }

    &.solido{
        background-color: v.$negro;
    }

    &__logo{
        width: 6rem;
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        &--hide{
            display: none;
        }

        .btn-nav{
            color: #e9e9e9;
            font-weight: v.$black;
            padding: 1rem 2rem;
            transition: all 0.4s ease;

            &:hover{
                transform: translateY(-.2rem);
                color: v.$dorado;
            }

            &--active{
                border-bottom: solid .2rem v.$dorado;
                color: v.$dorado;
            }
        }
        
    }

    &__actions{
        display: flex;        
        align-items: center;
        justify-content: center;

        &-profile{
            width: 4rem;
            height: 4rem;
        }

        &-photo{
            border-radius: 50%;
        }

        a.header__actions-link{
            color: v.$blanco;
            padding: 1rem 2rem;
            border-radius: .5rem;
            transition: all 0.4s ease;
            font-size: 4rem;

            &:hover{
                transform: translateY(-.2rem);
            }
        }
        
    }

    
}